.button {
  border: none;
  color: white;
  padding: 20px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}
.predictionTable {
  width: 50%;
}
.nearestHospital {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
/* .locationSearch{
  display: flex;
  width:50%;
}
.searchBar{
  width: 50%;
} */