.button {
  border: none;
  color: white;
  padding: 20px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}
/* .predictionTable {
  width: 50%;
} */
.nearestHospital {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.locationSearch{
  display: flex;
  justify-content: center;
  width:70%;
  
}
.searchBar{
  margin-top: 15px;
  width: 100%;
}
.searchButton{
  margin-bottom: 10px;
  /* background-color: #903749; */
}
